@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
#container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,rgb(49, 220, 166),rgb(165, 195, 236));
}
#box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #2773a5;
}
.signup_header h1{
    font-size: 2.5rem;
    color: black;
}
.signup_header p{
    font-size:0.8rem;
    color: #555;
}
.signup_body{
    margin:20px 0;

}
.signup_body p{
    margin:10px 0;
}
.signup_body p label{
    display: block;
    font-weight: bold;
}
.signup_body p input{
    width: 100%;
    padding: 1px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
}
.signup_body p input[type="submit"]{
    background-color: #3498db;
    color: #ffffff;
    padding-bottom: 5px;
    cursor: pointer;
    border:none;
}
.signup_body p input[type="submit"]:hover{
    background-color: #23628c;
}
.signup_footer p {
    color: #555;
    text-align: center;
}
.signup_footer p a{
    color:#1c0ee3;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to right #ffffffaa,#ffffffff);
    position: absolute;
}
.c1 {
    top: 100px;
    left: 30%;
}

.c2 {
    bottom: 200px;
    right: 40%;
}
